
body.fade-in {
  animation: glowIn 1.2s ease forwards;
}
@keyframes glowIn {
  from { opacity: 0; filter: blur(20px); }
  to { opacity: 1; filter: blur(0); }
}



/* تأثير الخروج من الصفحة */
.fade-out {
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.6s ease-in-out;
}

/* تأثير الدخول للصفحة */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.7s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* تأثير التبديل أثناء التنقل */
.transition-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #0b0c10;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
}
.transition-overlay.active {
  opacity: 1;
  pointer-events: all;
}




/* تنسيق navbatr */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2833;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
nav a {
  color: #66fcf1;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}
nav a:hover {
  color: #fff;
}


